<div class="header">
  <h1>NeoHealth Homework</h1>
</div>
<div style="text-align:center">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Voting screen">
      <h3>Choose which cat is cuter</h3>
      <div class="wrapper">

        <app-cats [newImg]="counter"></app-cats>
        <app-cats [newImg]="counter"></app-cats>
      </div>
    </mat-tab>
    <mat-tab label="Stats screen">
      <ng-template matTabContent>
        <app-stats></app-stats>
      </ng-template>
    </mat-tab>
    <mat-tab label="Top cats screen">
      <ng-template matTabContent>
        <app-top-cats></app-top-cats>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>