.wrapper{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
mat-tab{
    display: flex;
    justify-content: center;
}

.header{
    height: 80px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #6200EE  ;
    color: rgba(255, 255, 255, 0.897);
}