<table>
    <thead>
        <tr>
            <th>Ranking</th>
            <th>ID</th>
            <th class="center">Image</th>
            <th class = "center">Last Vote</th>
            <th class = "center">Number of Votes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of data; let i = index">
            <td>{{i+1}}.</td>
            <td>
                {{obj.id}}
            </td>
            <td>
                <div class="imageWrapper">
                        <img src = {{obj.url}} height="95px">
                </div>
                
            </td>
            <td class="center">
                {{obj.lastVote}}
            </td>
            <td class="center">
                {{obj.numberOfVotes}}
            </td>
        </tr>
    </tbody>
</table>