table {
    border-collapse: collapse;
    width: 95%;
    margin: 2.5%;
  }
  .center{
      text-align: center;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #6200EE  ;
    color: rgba(255, 255, 255, 0.897);
  }

  img{
      display: block;
      margin: auto;
  }